<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <title>Trader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <!-- CSS Libs-->
    <link rel="stylesheet" type="text/css" href="resources/lib/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="resources/lib/css/checkbox3.min.css"> -->

    <link rel="stylesheet" type="text/css" href="resources/lib/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <!-- CSS App-->
    <link rel='stylesheet', type='text/css', href='resources/css/style.css')>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/uniperController.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="resources/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="resources/lib/js/bootstrap.min.js"></script>
    <script data-require="angular-ui@*" data-semver="0.4.0" src="//rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js" context="anonymous"></script>
    <style>
        @media screen and (min-width: 868px) {
            .modal-dialog {
                width: 600px;
                /* New width for default modal */
            }
            .modal-sm {
                width: 350px;
                /* New width for small modal */
            }
        }

        @media screen and (min-width: 992px) {
            .modal-lg {
                width: 950px;
                /* New width for large modal */
            }
        }

        .img-responsive {
            border-radius: 100%;
        }

        .hoversd li a:hover {
            background-color: black;
        }

        .btn-primary {
            background-color: rgba(5, 43, 107, 0.33);
        }
    </style>
</head>

<body ng-controller="uniperController">
    <nav class="navbar navbar-primary" style="background-color:black;">
         <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left hoversd">

               <li class="active"> <a href="" ng-click ="trader();" style="color:white;font-size:20px;">Homepage</a></li>
               <li class="active"> <a href='' style="color:white;font-size:20px;">Report</a></li>
               <li class="active" > <a href='' ng-click = "manageProduct1();"  style="color:white;font-size:20px;" >Manage Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-center"><center>
              <img class="media-object img-circle pull-left"
               src="https://cals.cornell.edu/sites/cals.cornell.edu/files/shared/images/news/Zinda.jpg"
               alt="..." style="width:auto; height:80px;margin-bottom:10px;margin-left: 150px">
               <h1 class="indent" style="font-size: 25px ;color:white;margin-left: 200px"><b>{{traderName}} (Trader)
               </b></h1></center>
             </ul>
            <ul class="nav navbar-nav navbar-right hoversd">
               <li class="active"> <a href='' style="color:white;font-size:20px;">View Profile</a></li>

               <li class="active"> <a href='login' style="color:white;font-size:20px;">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
         </div>
      </nav>
    <div class="container-fluid">
        <div class="ng-view">

        </div>
    </div>
    <!-- <footer style="background-color:black">
					<div class="container-fluid">
						<div class="row">

							<div class="col-sm-4">
								<h6 style="color:white">About Us</h6>
								<p style="color:white">Uniper SE is a German energy company based in Düsseldorf, North Rhine-Westphalia, that began operating on 1 January 2016. It was formed by the separation of E.ON's fossil fuel assets into a separate company
								</div>
								<div class="col-sm-2">
									<h6 style="color:white">Energy Storage</h6>
									<ul class="unstyled">
										<li><a href="">About us</a></li>
										<li><a href="">Our Profile</a></li>
										<li><a href="">Our Corporate Responsbility</a></li>
										<li><a href="">Contact</a></li>
									</ul>
								</div>


								<div class="col-sm-2">
									<h6 style="color:white">Follow Us</h6>
									<ul class="unstyled">
										<li><a href="https://twitter.com" target="_blank">Twitter</a></li>
										<li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
										<li><a href="https://plus.google.com" target="_blank">Google+</a></li>
										<li><a href="https://www.instagram.com" target="_blank">Instagram </a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h6 style="color:white">Reach Out to Our Office</Strong></h6>
                  <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5173227.693785013!2d3.5004886168376985!3d50.72012311372159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ca75adda4fd7%3A0x270c28de965c9a37!2sUniper+SE!5e0!3m2!1sen!2sin!4v1515654072776" width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                  </div>
								</div>

							</div>
						</div>
					</footer> -->
</body>

</html>
